@font-face 
{
    font-family: Poppins;
    src: url(/fonts/Poppins-ExtraLight.ttf);
}

body
{
    background-color: #15052f;
    margin: 0;
    padding: 0;
}

.playBackground
{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: #4c1791;
    align-items: center;
}

.title
{
    font-size: 100px;
    font-family: Poppins;
    color: #ffcfde;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
}

.play
{
    font-family: Poppins;
    font-size: 50px;
    color: #ffcfde;
    background-color: #4c1791;
    text-align: center;
    margin: 0;
    width: fit-content;
    transition: font-size 250ms ease-in 10ms, width 200ms linear 10ms;
    text-decoration: none;
}

.play:active
{
    font-family: Poppins;
    font-size: 10px;
    color: #ffcfde;
    background-color: #4c1791;
    text-align: center;
    margin: 0;
    width: fit-content;
    transition: font-size 150ms ease-in 5ms, width 300ms ease-in-out 1ms;
    text-decoration: none;
}

.play:hover
{
    font-family: Poppins;
    font-size: 60px;
    color: #ffcfde;
    margin: 0;
    width: fit-content;
    transition: width 300ms ease-in-out 10ms, font-size 150ms ease-in 5ms;
    text-decoration: none;
}